Cython>=0.24,<0.30
click
wheel

# note: Sphinx and docutils are for collecting tests
# note: Newer Sphinx versions won't work on Python 2.7 and Python 3.3
# future: remove once we obsolete Python3.7

Sphinx==1.6.7; python_version < '3.7.0'
# note: But older versions wont collect tests on Python 3.7
Sphinx==5.3.0; python_version >= '3.7.0'
#markupsafe==0.23; python_version >= '3.7.0'

#jija2==3.1.2

# note: Colorama is dependency of Sphinx but latest version will fail to
#       install on Python 3.3
colorama<0.4; sys.platform == 'win32'
docutils<0.20
mock

pytest==6.2.5

coveralls